html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #333;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.episodeWrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.episodeItem {
  list-style: none;
  padding: .5rem;
  box-sizing: border-box;
}
